<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{style.css}" rel="stylesheet">
</head>
<body>
<h2>Added albums</h2>
<form action="/addAllalbums" method="post">
    <label>Title</label>
    <input type="text" name="title" id="title">
    <label>Artist:</label>
    <input type="text" name="artist" id="artist">
    <label>SongCount:</label>
    <input type="number" name="songCount" id="songCount">
    <label>Length:</label>
    <input type="number" name="length" id="length">
    <label>ImageUrl:</label>
    <input type="text" name="imageUrl" id="imageUrl">
    <input type="submit" value="Added">
</form>
<div th:each="album :${albums}">
    <h3>ID:<span th:text="${album.id}"></span></h3>
    <h2>Title:<span th:text="${album.title}"></span></h2>
    <h3>Artist<span th:text="${album.artist}"></span></h3>
    <h3>Song Count<span th:text="${album.songCount}"></span></h3>
    <h3>Length<span th:text="${album.length}"></span></h3>
    <img th:src="${album.imageUrl}">
   <a th:href="${'/addSongToAlbum/'+album.id}"> see and add new song for this album  </a>

</div>
</body>
</html>