<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Added to Albums</h2>
<form action="#" th:action="'/addOneSong/'+${particular.id}" method="post">
    <label>Title</label>
    <input type="text" name="title" id="title">
    <label>trackNumber:</label>
    <input type="number" name="trackNumber" id="trackNumber">
    <label>Length:</label>
    <input type="number" name="length" id="length">
    <input type="submit" value="Added Albums one song">
</form>
<div th:each="song :${particular.songs}">
    <h3>ID:<span th:text="${song.id}"></span></h3>
    <h2>Title:<span th:text="${song.title}"></span></h2>
    <h2>trackNumber:<span th:text="${song.trackNumber}"></span></h2>
    <h3>Length<span th:text="${song.length}"></span></h3>
</div>

<div>
    <h3>ID:<span th:text="${particular.id}"></span></h3>
    <h2>Title:<span th:text="${particular.title}"></span></h2>
    <h3>Artist<span th:text="${particular.artist}"></span></h3>
    <h3>Song Count<span th:text="${particular.songCount}"></span></h3>
    <h3>Length<span th:text="${particular.length}"></span></h3>

    <img th:src="${particular.imageUrl}">
</div>

</body>
</html>